{% extends "layout.html" %}
{% block content %}
    <div id="top"></div>
    <!-- ******************** HeaderWrap ********************-->
        <div id="headerwrap">
          <header class="clearfix">
            <h1><span>Arun Shanker Prasad</span></h1>
            <div class="container">
              <div class="row">
                <div class="span12">
                  <h2>Makes web applications for a living</h2>
                </div>
              </div>
              <div class="row">
                <div class="span12">
                  <ul class="icon">
                    <!--<li><a href="#" target="_blank"><i class="icon-facebook-circled"></i></a></li>-->
                    <li><a href="https://twitter.com/asplabs" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                    <li><a href="http://gplus.to/arunsp" target="_blank"><i class="icon-gplus-circled"></i></a></li>
                    <!--<li><a href="#" target="_blank"><i class="icon-skype-circled"></i></a></li>-->
                  </ul>
                </div>
              </div>
            </div>
          </header>
        </div>
        <!--******************** Feature ********************-->
        <div class="scrollblock">
          <section id="feature">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <article>
                    <p>We work to make web a beautiful place.</p>
                    <p>We craft beautiful designs and convert them into</p>
                    <p>fully functional and user-friendy web app.</p>
                  </article>
                </div>
                <!-- ./span12 -->
              </div>
              <!-- .row -->
            </div>
            <!-- ./container -->
          </section>
        </div>
        <hr>
        <!--******************** Portfolio Section ********************-->
        <section id="portfolio" class="single-page scrollblock">
          <div class="container">
            <div class="align"><i class="icon-desktop-circled"></i></div>
            <h1 id="folio-headline">Portfolio...</h1>
            <div class="row">
              <div class="span4">
                {# <div class="mask2"> <a href="/static/img/portfolio-01.jpg" rel="prettyPhoto"><img src="/static/img/portfolio-01.jpg" alt=""></a> </div> #}
                <div class="inside">
                  <hgroup>
                    <h2>Python</h2>
                  </hgroup>
                  <div class="entry-content">
                    <p>Over 3 years experience in building web applications in Python. Python is a programming language that lets you work more quickly and integrate your systems more effectively. You can learn to use Python and see almost immediate gains in productivity and lower maintenance costs.</p>
                  </div>
                </div>
                <!-- /.inside -->
              </div>
              <!-- /.span4 -->
              <div class="span4">
                {# <div class="mask2"> <a href="/static/img/portfolio-02.jpg" rel="prettyPhoto"><img src="/static/img/portfolio-02.jpg" alt=""></a> </div> #}
                <div class="inside">
                  <hgroup>
                    <h2>Java</h2>
                  </hgroup>
                  <div class="entry-content">
                    <p>Over 2 years in building J2EE applications. Java Platform, Enterprise Edition or Java EE is Oracle's enterprise Java computing platform. The platform provides an API and runtime environment for developing and running enterprise software, including network and web services, and other large-scale, multi-tiered, scalable, reliable, and secure network applications. Java EE extends the Java Platform, Standard Edition (Java SE), providing an API for object-relational mapping, distributed and multi-tier architectures, and web services.</p>
                  </div>
                </div>
                <!-- /.inside -->
              </div>
              <!-- /.span4 -->
              <div class="span4">
                {# <div class="mask2"> <a href="/static/img/portfolio-03.jpg" rel="prettyPhoto"><img src="/static/img/portfolio-03.jpg" alt=""></a> </div> #}
                <div class="inside">
                  <hgroup>
                    <h2>PHP</h2>
                  </hgroup>
                  <div class="entry-content">
                    <p>Over 2 years experience in PHP. PHP is a server-side scripting language designed for web development but also used as a general-purpose programming language. PHP is now installed on more than 244 million websites and 2.1 million web servers. Originally created by Rasmus Lerdorf in 1995, the reference implementation of PHP is now produced by The PHP Group.[3] While PHP originally stood for Personal Home Page, it now stands for PHP: Hypertext Preprocessor, a recursive acronym.</p>
                  </div>
                </div>
                <!-- /.inside -->
              </div>
              <!-- /.span4 -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="span4">
                {# <div class="mask2"> <a href="/static/img/portfolio-01.jpg" rel="prettyPhoto"><img src="/static/img/portfolio-03.jpg" alt=""></a> </div> #}
                <div class="inside">
                  <hgroup>
                    <h2>App Engine</h2>
                  </hgroup>
                  <div class="entry-content">
                    <p>Over 3 years experience in Google App Engine. Google App Engine lets you run web applications on Google's infrastructure. App Engine applications are easy to build, easy to maintain, and easy to scale as your traffic and data storage needs grow. With App Engine, there are no servers to maintain: You just upload your application, and it's ready to serve your users.</p>
                  </div>
                </div>
                <!-- /.inside -->
              </div>
              <!-- /.span4 -->
              <div class="span4">
                {# <div class="mask2"> <a href="/static/img/portfolio-02.jpg" rel="prettyPhoto"><img src="/static/img/portfolio-01.jpg" alt=""></a> </div> #}
                <div class="inside">
                  <hgroup>
                    <h2>Apps Script</h2>
                  </hgroup>
                  <div class="entry-content">
                    <p>Just starting out with Apps Script. Google Apps Script is a JavaScript cloud scripting language that lets you extend Google Apps and build web applications. Scripts are developed in Google Apps Script’s browser-based script editor, and they are stored in and run from Google’s servers.</p>
                  </div>
                </div>
                <!-- /.inside -->
              </div>
                <!-- /.inside -->
              </div>
              <!-- /.span4 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </section>
        <hr>
        <!--******************** Services Section ********************-->
        <section id="career" class="single-page scrollblock">
          <div class="container">
            <div class="align"><i class="icon-cog-circled"></i></div>
            <h1>Career</h1>
            <!-- Four columns -->
            <div class="row">
              <div class="span3">
                <div class="align"> <i class="icon-desktop sev_icon"></i> </div>
                <h2>Associate Architect, QBurst</h2>
                <p></p>
              </div>
              <!-- /.span3 -->
              <div class="span3">
                <div class="align"> <i class="icon-desktop sev_icon"></i> </div>
                <h2>Lead Engineer, QBurst</h2>
                <p>As a Lead Engineer at QBurst, it is my responsibility to adhere to the Scrum agile development method QBurst has adopted, and design solutions and plan development roadmap to make this possible. Architecting software that fit the requirement, is flexible and scalable. Splitting the sprints up into smaller manageable chunks of tasks for the development team.</p>
              </div>
              <!-- /.span3 -->
              <div class="span3">
                <div class="align"> <i class="icon-desktop sev_icon"></i> </div>
                <h2>Senior Software Engineer, QBurst</h2>
                <p>As a Senior Software Engineer, I am responsible for being part of the solution, delivering sprints in a time and cost effective manner. Prioritizing tasks and being part of a team that solves a problem, that means asking for help and helping others when needed. </p>
              </div>
              <!-- /.span3 -->
              <div class="span3">
                <div class="align"> <i class="icon-desktop sev_icon"></i> </div>
                <h2>Software Engineer, QBurst</h2>
                <p></p>
              </div>
              <!-- /.span3 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </section>
        <hr>
        <!--******************** Contact Section ********************-->
        <section id="contact" class="single-page scrollblock">
          <div class="container">
            <div class="align"><i class="icon-mail-2"></i></div>
            <h1>Contact me</h1>
            <div class="row">
              <div class="span12">
                <div class="cform" id="theme-form">
                  <form action="" method="post" class="cform-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="span6"> <span class="your-name">
                        <input type="text" required="true" name="your-name" placeholder="Your Name" class="cform-text" size="40" title="your name">
                        </span> </div>
                      <div class="span6"> <span class="your-email">
                        <input type="email" required="true" name="your-email" placeholder="Your Email" class="cform-text" size="40" title="your email">
                        </span> </div>
                    </div>
                    <div class="row">
                      <div class="span6"> <span class="company">
                        <input type="text" required="true" name="company" placeholder="Your Company" class="cform-text" size="40" title="company">
                        </span> </div>
                      <div class="span6"> <span class="website">
                        <input type="url" name="website" placeholder="Your Website" class="cform-text" size="40" title="website">
                        </span> </div>
                    </div>
                    <div class="row">
                      <div class="span12"> <span class="message">
                        <textarea name="message" class="cform-textarea" cols="40" rows="10" title="drop me a line." placeholder="drop me a line."></textarea>
                        </span> </div>
                    </div>
                    <div>
                      <input type="submit" value="Send message" class="cform-submit pull-left">
                    </div>
                    <div class="cform-response-output"></div>
                  </form>
                </div>
              </div>
              <!-- ./span12 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </section>
{% endblock %}
